In [1]:
import psycopg2
import pandas as pd

try:
    conn = psycopg2.connect(user="cohort17",
                            password="Cohort17Movies",
                            host="moviesdb.ce8d6g1pa5lm.us-east-1.rds.amazonaws.com",
                            port="5432",database="moviesdb")

    dbquery = "select * from movies_analytical_table"
    
    df = pd.read_sql_query(dbquery, conn)

except (Exception, psycopg2.Error) as error :
    print ("Error while fetching data from PostgreSQL", error)

finally:
    if(conn):
        conn.close()

In [2]:
df.head()

,id,tconst,titletype,primarytitle,originaltitle,region,isadult,startyear,endyear,runtimeminutes,...,keyword28,keyword29,keyword30,keyword31,studio,releasedate,lifetime_gross,productionbudget,domesticgross,worldwidegross
0,4636872,tt6608094,movie,&,&,US,0,2017,None,NaN,...,None,None,None,None,None,None,NaN,NaN,NaN,NaN
1,3738840,tt4602074,movie,001 Trolling,Trolling,US,0,2017,None,80.0,...,None,None,None,None,None,None,NaN,NaN,NaN,NaN
2,2495237,tt2078523,movie,009 Re: Cyborg,009 Re:Cyborg,US,0,2012,None,103.0,...,None,None,None,None,None,None,NaN,NaN,NaN,NaN
3,2014800,tt1578696,movie,0:22:43,0:22:43,US,0,2010,None,62.0,...,None,None,None,None,None,None,NaN,NaN,NaN,NaN
4,2363436,tt1942127,movie,02543,02543,US,0,2010,None,15.0,...,None,None,None,None,None,None,NaN,NaN,NaN,NaN